body{
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande";
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.clear {
    clear: left;
}

header{
    height: 65px;
    width: 100%;
    background-color: rgba(34, 40, 49, 0.8);
    position: fixed;
    top:0;
    z-index: 10;
}

.header-logo{
    float:left;
    padding: 20px;
    font-weight: 800;
    font-family: 'Courier New';
    color: #C6FCE5;
    font-size: 20px;
}
.header-list{
    float: right;
    transition: all 0.5s;
}
.header-list a{
    color: #EEEEEE;
    display: block;
    
}
.header-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.header-list ul li{
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    font-weight: bold;
    font-family: "Bahnschrift";
    line-height: 65px;
}
.header-right:hover{
    background-color:rgba(181, 192, 207, 0.5);
}

.content {
    animation: fadeIn 4s;
}
.login{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #030d1f;
}
.login:hover{
    background-color: #091936;
}

.top-wrapper {
    background-image: url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    padding: 180px 0px 100px 0px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin:0 auto;
    padding: 0 15px;
}
.top-wrapper h1{
    font-size: 45px;
    letter-spacing: 3px;
    color: black;
}
.top-wrapper h1 span{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.signup {
    background-color: #239b76;
}

.facebook{
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter{
    background-color: #55acee;
}

.btn-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-wrapper p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover{
    opacity: 1;
}

.fa {
    margin-right: 5px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.lesson-wrapper{
    padding-bottom: 80px;
    text-align: center;
}

.heading {
    padding-top: 45px;
    padding-bottom: 30px;
    color: #5f5d60;
    
}

.heading h2 {
    font-weight: normal;
}

.lesson {
    float:left;
    width:25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 80px;
    width: 100%;
    color: white;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: rgb(95, 91, 91); 
}

.message {
    background-color: #5dca88;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    cursor: pointer;

    box-shadow: 0 7px #1a7940;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    background-color:#f7f7f7 ;
}

.message:active {
    box-shadow: none;
    top:7px;
    position: relative;
}

footer{
    padding: 0;
    width: 100%;
    background-color: rgba(34, 40, 49, 1) ;
    overflow: hidden;
}

footer p {
    padding: 1px;
    color: white;
    float: right;
    font-family: 'Courier New';
    font-size: small;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

